:root {
    font-family: 'Open Sans';
    scroll-behavior: smooth;
}

body {
    max-width: 950px;
    margin: auto;
    margin-top: 15px;
    background-color: #1d14d1;
    color: white;
}

h1, h2{
    color: #F64C72;
}

header{
    height: 60px;
}

nav a, .nav-link { 
    color: #F64C72;
    border: 1px #F64C72 solid;
    font-weight: 550;
    padding: 10px;
}

nav {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: #1d14d1;
}

header nav .navbar-brand {
    font-size: 1.5rem;
}

#landing {
    height: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#landing img{
    max-width: 230px;
    justify-self: flex-end;
}


#about_me{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

#about_me img{
    height: 350px;
}

#bio {
    width: 250px;
}

#projects {
    margin-top: 100px;
}

#projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 40px;
}

#projects h2 {
    text-align: center;
}

#projects .project_card{
    border: 1px #F64C72 solid;
}

.project_card .card_header{
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project_card .card_header a {
    text-decoration: none;
    color: #F64C72;
    font-weight: 550;
}

.devices {
    width: 30px;
}

.card_name {
    width: 200px;
    margin-top: 12px;
}

.preview{
    max-width: 100%;
}

#projects .project_card .card_content p {
    padding: 10px 10px 0px 10px;
}

#futureProject{
    text-align: center;
    margin-top: 120px;
}

#contact h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#contact #contact-form{
    margin-left: 38%;
}

button {
    width: 80px;
    background-color: #1d14d1;
    color: #F64C72;
    border: 1px #F64C72 solid;
    font-weight: 550;
    padding: 10px;
}

button:hover {
    background-color: #F64C72;
    color: #1d14d1;
}


@media (max-width: 949px){
    #projects-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #projects .project_card{
        width: 70%;
        margin-bottom: 10px; 
    }

    #futureProject {
        display: none;
    }
}

@media (max-width: 705px) {
    #landing {
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

    #landing-content {
        left: 0%;
        margin-bottom: 20px;
    }

    #about_me {
        flex-direction: column;
    }

    #contact #contact-form{
        margin-left: 30%;
    }
}

@media (max-width: 400px){
    section #landing-content h1 {
        text-align: center;
        margin-top: 140px;
        margin-bottom: 50px;
    }
    
    section #landing-content p {
        width: 70%;
        margin: auto;
        margin-bottom: 60px;
    }

    #about_me{
        margin-top: 130px;
    }
    
    #about_me h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    #contact #contact-form{
        margin-left: 10%;
    }
}

.modal-body{
    color: black;
}