:root {
    font-family: 'Open Sans';
    scroll-behavior: smooth;
}

body {
    max-width: 1000px;
    margin: auto;
    margin-top: 15px;
    background-color: #1d14d1;
    color: white;
}

h1 {
    color: #F64C72;
}

header{
    height: 60px;
}

nav a { 
    color: #F64C72;
    border: 1px #F64C72 solid;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}

nav {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logo {
    font-size: 1.7rem;
}

#landing {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#landing-content {
    position: relative;
    left: 15%;
}

#landing img{
    max-width: 230px;
    justify-self: flex-end;
}


@media (max-width: 490px) {
    header nav {
        display: flex;
        flex-direction: column;
    }    
    
    header nav .logo {
        align-self: center;
        margin-bottom: 30px;
        font-size: 1.5rem;
    }
}

#about_me{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

#about_me img{
    height: 350px;
}

#bio {
    width: 250px;
}

@media (max-width: 705px) {
    #landing {
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

    #landing-content {
        left: 0%;
        margin-bottom: 20px;
    }

    #about_me {
        flex-direction: column;
    }
}

/*
.project_card{
    width: 40%;
    border: 1px #F64C72 solid;
}

.devices {
    width: 30px;
}

.card_name {
    width: 200px;
}

.preview{
    max-width: 100%;
}

#portfolio_btn {
    margin-top: 2000px; 
    color: #F64C72;
    border: 1px #F64C72 solid;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}

.sm-img{
    width: 30px;
}

#contact-form{
    float: right;
} */